@import '../../base.sass'

.service__cards
  background: grey
  height: auto
  margin-bottom: 70px 
  @include navsnap 
    margin-bottom: 60px
  @include phone-large 
    margin-bottom: 50px 
  @include phone-small 
    margin-bottom: 40px
  &__container 
    //container styles here
    &__card 
      background: rebeccapurple
      &--image 
        height: 100px 
        width: 100px

  p 
    margin: 0 
    padding: 0



// @include navsnap 
//   margin-bottom: 60px
// @include phone-large 
//   margin-bottom: 50px 
// @include phone-small 
//   margin-bottom: 40px