.footer__right__content
  a, a:visited
    color: black
    text-decoration: none
  ul, li 
    margin: 0px
  &__list
    list-style: none
    &__item 
      a h6 
        margin: 8px 0px
      &:nth-child(1)
        a h6
          margin-top: 0px
      p 
        margin-bottom: 5px 
