@import '../../base.sass'


.footer
  display: flex
  justify-content: center
  align-self: center 
  justify-self: center
  width: 100%
  padding: 50px 0px
  height: auto
  @include tablet
    font-size: 12pt
  &__container 
    display: flex
    justify-content: space-between
    width: 100%
    position: relative
    @include tablet-phone
      flex-wrap: wrap-reverse
      padding: 20px 0px
      // flex-direction: column
      // flex-wrap: wrap
    h6 
      font-size: 0.825em
      font-weight: $normal
    p 
      font-size: 0.7em
      font-weight: $light
      line-height: 1.2em
      color: $grey
    &__left
      display: flex 
      height: 100%
      max-width: 20%
      @include edgesnap 
        padding: 0px 15px
        max-width: 35%
      @include tablet-phone
        max-width: 100%
        display: none !important
    &__center
      max-width: 220px
      @include tablet-phone
        // min-width: 50%
        max-width: 50%
        // background: red
        justify-content: space-between
    &__right
      min-width: 20%
      @include edgesnap 
        min-width: 35%
      @include tablet-phone
        min-width: 50%
    &__left, &__center, &__right 
      display: flex
      // background: red
      justify-content: space-between
      align-items: center
      h6 
        color: black
      p 
        color: $grey
      @include tablet-phone 
        display: inline
    &__center 
      @include tablet-phone
        width: 48%
        display: inline
    &__right 
      justify-content: flex-end
      @include tablet-phone
        width: 48%
        display: inline