@import '../../base.sass'

.footer__left__container
  display: flex
  height: 100%
  // display: none
  flex-direction: column
  justify-content: space-between
  @include tablet-phone 
    align-self: flex-end
    // background: pink 
  p 
    margin-bottom: 5px !important
  &__top,
  &__middle,
    display: flex 
    flex-direction: column 
    // margin-bottom: 10px
    h6 
      margin: 8px 0px
    &:nth-child(1)
      h6 
        margin-top: 0px
  &__top
    p 
      @include tablet-phone
        margin-bottom: 10px !important
  &__middle
    &__socialmedia
      &__container
        display: flex
        &__account
          img 
            height: 25px
            margin: 0px 4px
          &:nth-child(1)
            img
              margin-left: 0px