@import '../../../base.sass'


.footer
  display: flex
  height: 400px
  background: lightskyblue
  margin-top: 500px
  &__container 
    display: flex
    justify-content: space-between
    padding: 0px 15px
    h6 
      font-size: 0.8em
      font-weight: $normal
    p 
      font-size: 0.7em
      font-weight: $light
      line-height: 1.2em
      color: $grey
    &__left
      max-width: 20%
    &__center
      max-width: 220px
      // background: red
    &__right
      min-width: 20%
    &__left, &__center, &__right 
      display: flex 
      justify-content: center 
      align-items: center
      h6 
        color: red
      p 
        color: yellow