@import './base.sass'
  
.page__container
  display: flex
  flex-direction: column
  align-items: center
  &__content 
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 1200px
    height: 100%
    // background: coral
    @include edgesnap
      // background: green
      max-width: 100% 
      // min-width: 100%
      padding: 0px 15px


 
.header 
  display: flex
  align-items: center
  --height: 140px
  height: var(--height)
  padding: 0px 15px
  // background: tomato
  background: white
  box-shadow: 0 4px 2px -2px $light-grey
  position: sticky
  top: 0
  z-index: 999
  @include edgesnap
    --height: 120px
  @include tablet 
    --height: 100px
  @include tablet-phone
    --height: 80px
  @include phone-large 
    --height: 70px 
  @include phone 
    --height: 65px
  @include phone-small
    --height: 58px
  &__container
    display: flex
    justify-content: space-between 
    align-items: flex-end
    position: relative
    width: 100%
    z-index: 99
    @include navsnap 
      align-items: center
      height: 100%
    &__brand
      // background: khaki
      .company--logo
        width: calc(var(--height)*1.4)
        height: auto
    &__nav, &__mobilenav 
      nav 
        display: flex
        a, a:visited 
          color: black 
          text-decoration: none
    &__nav
      display: flex
      height: 100%
      font-size: 12pt 
      //overall height of the hamburger 
      height: 70%
      .mobile__hamburger
        display: none
        align-self: center 
        justify-self: center
        // background: red
        height: 40%
        width: 30px
        @include navsnap 
          display: flex
        @include phone-large 
          height: 32%
        @include phone-small 
          height: 35%
        &__hamburger
          display: flex 
          flex-direction: column 
          align-items: flex-end
          justify-content: space-between
          width: 100%
          height: 100%
          background: lightpink
          //class gets added to __hamburger to change jc
          &.expanded 
            justify-content: center
            //styles lines when expanded
            .lineOne
              position: absolute 
              transform: rotate(45deg) translateX(1px)
            .lineTwo
              opacity: 0
              transform: translateX(-60%)
            .lineThree
              transform: rotate(-45deg)
          //sets styles of lines before expanded
          span.line
            height: 2px 
            width: 30px
            background: black
            opacity: 1
            &:nth-child(1)
              transition: all 0.3s
            &:nth-child(2)
              transition: all 1s
            &:nth-last-child(1)
              transition: all 0.3s
            @include phone-large 
              width: 25px
            @include phone-small 
              width: 22px
              height: 2px
      nav
        line-height: 1rem
        position: relative 
        z-index: 1000
        @include navsnap
          display: none
        div 
          margin: 0px 10px
          &:nth-last-child(1)
            margin-right: 0px
        a, a:visited 
          font-size: 1rem
          font-weight: $normal
          // margin: 0px 10px
          @include edgesnap 
            font-size: 0.9rem
          @include tablet 
            font-size: 0.8rem
            margin: 0px 8px
          &:hover 
            color: $gradientmid 
            border-bottom: 2px solid $gradientmid
        a.active 
          border-bottom: 2px solid $gradientmid
        ul.submenu-expanded 
          transform: translateY(0) !important
          z-index: 9999
          opacity: 1 !important
          // padding-top: 20px

        ul.navitem__submenu

          position: absolute
          z-index: -99999
          opacity: 0
          background: white
          padding: 30px 14px
          list-style: none
          transform: translateY(-100%)
          transition: all 0.3s ease-in-out
          li.navitem__submenu__item
            &, a, a:visited 
              color: black
              margin: 15px 0px
    &__mobilenav
      position: absolute
      text-align: right
      z-index: 998 
      width: 100vw
      height: 100vh
      color: white
      background: rgba(255,255,255,0.8)
      transition: transform 0.5s ease-in-out
      transform: translateY(-100%)
      nav 
        display: flex 
        width: 100%
        flex-direction: column 
        align-items: flex-end
        padding-right: 38px
        margin-top: 20px
        // height: 300px
        div
          margin: 4px 0px
        ul, li, a
          font-size: 0.9rem
          margin: 12px 0px
        ul, .mobile__navitem__submenu
          list-style: none
          &__item, li 
            margin: 4px 0px
            a
              line-height: 1em
              font-size: 0.8em
              color: $grey

  
        