@import '../components/base.sass'
.wraper
    // display: flex
    // flex-direction: column
    // max-width: 1200px
    align-items: center
    padding-top: 40px
    font-size: 12pt
    @include edgesnap
        width: 100%
        font-size: 1.3vw
    @include tablet-phone 
      font-size: 1.85vw
    .body
        display: flex
        justify-content: space-between
        @include tablet-phone 
          flex-direction: column
        .body__left, .body__right 
          h4 
            font-weight: $normal
            font-size: 1.2em
            margin-bottom: .75em
        .body__left
            width: 43%
            display: flex
            flex-direction: column
            @include tablet-phone
                width: 100%
            &__title
                padding-bottom: 25px
                //TEXT HERE
                h2 
                  font-weight: $normal
                  font-size: 1.8em
                  margin-bottom: 0.3em
                //TEXT HERE
                p
                  font-weight: $light
                  line-height: 1em
                &__adddress
                    width: 100%
                    display: flex
            &__description
                font-size: 0.9em
                line-height: 1.4em
                padding: 25px 0
            &__share
              padding: 25px 0px 5px 0px
            h3.body__left__share, h3.body__left__view
              margin-bottom: 0.5em

            &__view
                padding: 20px 0px 7px 0px
        .body__right
            width: 43%
            display: flex
            flex-direction: column
            @include tablet-phone
                width: 100% 
                margin-top: 20px
    .contact
      margin-top: 40px
      display: flex
      text-align: center
      flex-direction: column
      font-size: 12pt 
      @include edgesnap 
        font-size: 1.35vw
      @include tablet-phone 
        font-size: 1.8vw
      h4 
        font-weight: $normal 
        font-size: 1.45em
        margin-bottom: 0.5em
      p
        color: $grey
        font-weight: $light
        margin: 0.5em
    h3
      padding-bottom: 20px
      font-weight: $normal
      font-size: 1.4em



  
